.link {
  & > div > div {
    transition: var(--duration) ease box-shadow;
  }

  &:hover > div > div {
    box-shadow: 0 0 2rem -0.5rem var(--grey-400);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible > div > div {
    outline: 1px dotted var(--white);
  }
}

.project {
  width: 168px;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (max-width: 767px) {
    width: 130px;
  }
}

.image {
  width: 100%;
  height: auto;
  opacity: 0;
  transition: var(--duration) ease opacity;

  &.isLoaded {
    opacity: 1;
  }
}

.name {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.2em;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.role {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: var(--grey-400);
  margin: 0;
}
