.nav {
  position: relative;
  width: 100%;
  height: 58px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--grey-500);
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 5;
  transition:
    var(--duration) ease border,
    var(--duration) ease background-color,
    var(--duration) ease height;

  &.fullscreen {
    height: 80px;
    border-top-color: var(--grey-500);
    border-bottom-color: transparent;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.link {
  margin-left: 1rem;

  &:first-child {
    margin-left: 0;
  }

  & a {
    color: var(--grey-300);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    transition: var(--duration) ease color;

    &:hover {
      color: var(--white);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 1px dotted var(--white);
    }

    & > img {
      margin-right: 0.5rem !important;
    }
  }

  &.isActive {
    & a {
      color: white;
    }
  }
}

@media (max-width: 767px) {
  .nav {
    height: auto;
    &.fullscreen {
      height: auto;
    }
  }

  .link {
    margin: 0;
    &:first-child {
      margin: 0;
    }
  }
}

@media (max-width: 576px) {
  .link {
    width: 50%;

    & a {
      padding: 1.25rem 0rem;
      justify-content: center;
      border-bottom: 1px solid var(--grey-500);
    }

    &:nth-child(even) a {
      border-left: 1px solid var(--grey-500);
    }

    &:nth-last-child(-n + 1) a {
      border-bottom: 0;
    }
  }
}
