.nav {
  position: relative;
  width: 100%;
  height: 58px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #1e1e1e;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 5;
  transition: 0.8s ease border, 0.8s ease background, 0.8s ease height;
}

.nav.fullscreen {
  height: 80px;
  border-top-color: #1e1e1e;
  border-bottom-color: transparent;
  background-color: rgba(0, 0, 0, 0.8);
}

.link {
  margin-left: 1rem;
}

.link:first-child {
  margin-left: 0;
}

.link a {
  color: #a4a1a4;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-decoration: none;
  padding: 1rem;
  display: flex;
  align-items: center;
  transition: 0.3s ease color;
}

.link a:hover {
  color: #fff;
}

.link a > div {
  margin-right: 0.5rem !important;
}

@media (max-width: 767px) {
  .nav {
    height: auto;
  }
  .nav.fullscreen {
    height: auto;
  }
  .link {
    margin: 0;
  }
  .link:first-child {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .link {
    width: 50%;
  }
  .link a {
    padding: 1.25rem 0rem;
    justify-content: center;
    border-bottom: 1px solid #1e1e1e;
  }
  .link:nth-child(even) a {
    border-left: 1px solid #1e1e1e;
  }
  .link:nth-last-child(-n + 2) a {
    border-bottom: 0;
  }
}
