:root {
  --white: #fff;
  --grey-100: #efedef;
  --grey-200: #e0dee0;
  --grey-300: #a4a1a4;
  --grey-400: #676567;
  --grey-500: #1e1e1e;
  --black: #000;
  --duration: 0.8s;
}

::selection {
  background: var(--grey-300);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  font-family:
    "Raleway",
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-feature-settings: "lnum";
  background-color: var(--black);
  color: var(--white);
  height: 100%;
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: var(--grey-500);
}

body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--grey-400);
}

body::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: var(--grey-500);
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
